/* Status bar */

.status-bar-item.plugin-rentry-integration {
  padding-block: 0;
  background-color: var(--background-modifier-hover);

  /* obsidian has spin keyframes already defined */
  .status-bar-item-icon > svg {
    animation: spin 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
  }
}

/* Notices */

.notice:has(.plugin-rentry-integration) {
  padding: var(--size-4-4);
  /* this will clamp to 300px since obsidian has a 300px max-width for notices */
  width: calc(var(--size-4-18) * 5);
}

.notice-message-content.plugin-rentry-integration {
  display: flex;
  flex-direction: column;
  gap: calc(var(--line-height-tight) * 1em);
  font-size: var(--font-ui-small);

  > * {
    text-box: cap alphabetic;
  }

  .notice-message-title {
    font-weight: var(--font-bold);
  }

  button.mod-success {
    color: var(--text-success);
  }
}

.notice:has(.plugin-rentry-integration.notice-message-content--error) {
  border-left-color: var(--text-error);
  border-left-width: var(--radius-m);
  border-left-style: solid;
}

/* Settings */

.mod-settings .plugin-rentry-integration {
  .setting-item.is-disabled :is(.setting-item-description, .setting-item-name) {
    color: var(--text-faint);
  }

  .checkbox-container.is-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
